In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from helper import fetch_data, convert_to_ts, fetch_ts, engineer_features

In [3]:
data_dir = os.path.join(".", "data", "cs-train")

In [4]:
dfs = fetch_ts(data_dir, clean=True)

... processing data for loading

In [5]:
for key, item in dfs.items():
    print(key, item.shape)

all (607, 7)
united_kingdom (607, 7)
eire (607, 7)
germany (607, 7)
france (607, 7)
norway (577, 7)
spain (607, 7)
hong_kong (426, 7)
portugal (607, 7)
singapore (456, 7)
netherlands (607, 7)

In [6]:
dfs['eire']

,date,purchases,unique_invoices,unique_streams,total_views,year_month,revenue
0,2017-11-01,0,0,0,0,2017-11,0.00
1,2017-11-02,0,0,0,0,2017-11,0.00
2,2017-11-03,0,0,0,0,2017-11,0.00
3,2017-11-04,0,0,0,0,2017-11,0.00
4,2017-11-05,0,0,0,0,2017-11,0.00
...,...,...,...,...,...,...,...
602,2019-06-26,80,3,78,709,2019-06,253.67
603,2019-06-27,30,1,30,237,2019-06,92.16
604,2019-06-28,55,3,54,440,2019-06,295.21
605,2019-06-29,0,0,0,0,2019-06,0.00
606,2019-06-30,0,0,0,0,2019-06,0.00

In [7]:
eire_df = dfs['eire']

In [8]:
X,y,dates = engineer_features(eire_df)